.formContainer {
    max-width: 60%; /* Usa porcentaje en lugar de un valor fijo */
    margin: 0 auto;
    padding: 5%; /* Espaciado relativo */
    background-color: #f9f9f9;
    border-radius: 1rem; /* Tamaño relativo en unidades rem */
    box-shadow: 0px 0.5rem 1rem rgba(0, 0, 0, 0.1);
    overflow: hidden; /* Previene overflow no deseado */
    margin-top: 10px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 2rem; /* Ajuste en rem para mantener proporción */
}

.title {
    text-align: center;
    color: #333;
    font-size: 2rem; /* Tamaño de fuente en rem */
    margin-bottom: 2rem;
}

.formGroup {
    display: flex;
    flex-direction: column;
}

.input,
.textarea,
.select {
    padding: 0.5rem; /* Espaciado relativo */
    border-radius: 0.5rem;
    border: 1px solid #ccc;
    font-size: 1rem;
    width: 100%;
}

.input:focus,
.textarea:focus,
.select:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0px 0px 0.5rem rgba(0, 123, 255, 0.5);
}

.textarea {
    resize: none;
}

.btnSubmit {
    padding: 0.5rem;
    background-color: #ffffff;
    /* border-style: solid;
    border-width: 1px; */
    border: none;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 40%;
    height: 5%;
    color: #ffffff;
    background-color: #80b155;

}

.btnSubmit:hover {
    color: #ffffff;
    background-color: #498428;
}

.imagePreview {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img {
    max-width: 60%; /* Controla el ancho con porcentajes */
    height: auto;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
}

.btnDelete {
    background-color: #dc3545;
    color: white;
    padding: 0.8rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.btnDelete:hover {
    background-color: #c82333;
}

/* ESTE ES EL ESTILO DE LOS BOTONES DE LAS OFERTAS  */
.switchContainer {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.switchLabel {
    font-size: 1rem;
    color: #333;
}

.switchButton {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: 1px solid #ccc;
    cursor: pointer;
    font-size: 1rem;
    background-color: #f0f0f0;
    color: #333;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.switchButton.active {
    background-color: #80b155;
    color: white;
    border-color: #80b155;
}

.switchButton.inactive {
    background-color: #dc3545;
    color: white;
    border-color: #dc3545;
}

/* Alert.module.css */
.alert {
    padding: 1rem;
    border-radius: 0.25rem;
    margin-bottom: 1rem;
    color: #856404;
    background-color: #fff3cd;
    border: 1px solid #ffeeba;
  }
  
  .alertWarning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
  }
  .alertSuccess{
    color: #228504;
    background-color: #d1ffc5;
    border-color: #cdffba;

  }



/* Responsive styles */
@media (max-width: 768px) {
    .formContainer {
        padding: 4%; /* Reduce el padding en pantallas más pequeñas */
        max-width: 85%;
    }

    .form {
        gap: 1.5rem;
    }

    .title {
        font-size: 1.8rem;
    }

    .input, .textarea, .select {
        font-size: 0.9rem;
    }

    .btnSubmit {
        font-size: 1rem;
    }
}

@media (max-width: 480px) {
    .formContainer {
        padding: 3%; /* Reduce el padding aún más en pantallas pequeñas */
    }

    .input, .textarea, .select {
        font-size: 0.8rem;
    }

    .btnSubmit {
        font-size: 0.9rem;
    }
}
