.contenedorBarra{
  width: 100%;
}

.barraSuperior {
  background-color: #85CA83; 
  padding: 6px 0;
}

.encabezado {
  width: 100%;
  background-color: white;
  padding: 8px 0;
  margin: 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  max-width: 200px;
  margin-left: 25px;
}

.barraBusqueda {
  max-width: 500px;
  margin-left: 20%;
  margin-top: 5px;
  justify-content: center;
  align-items: center;
}

.btnBusqueda {
  background-color: #0B513B;
  margin-left: -35px;
}

.btnBusqueda:hover{
  background-color: #034d2c;
}

.telefonos {
  color: #d6a800; 
  align-content: center;
}

.botonTelefono {
  background-color: #d6a800; 
  color: white;
}

.carrito{
  width: 40px;
  height: 40px;
  margin-left: 50%;
}

.badge{
  margin-top: 6px;
  background-color: aqua;
}

.menuInferior {
  width: 100%;
  background-color: white;
  padding: 10px 0;
  margin: 0 0;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}

.enlaceMenu {
  color: black;
  text-decoration: none;
  font-weight: bold;
  padding: 0 15px;
}

.enlaceMenu:hover {
  color: #92d1a6; /* Cambiar color al pasar el cursor */
}

.relativeContainer {
  position: relative;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 90%;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  max-height: 250px;
  overflow-y: auto;
  padding: 8px 0; 
}

.dropdownItem {
  padding: 8px 12px; 
  cursor: pointer; 
  display: flex; 
  align-items: center; 
  border-bottom: 1px solid #eee; 
}

.dropdownItem:hover {
  background-color: #f0f0f0; 
}

.dropdownLink {
  display: flex; 
  align-items: center; 
  text-decoration: none; 
  color: black; 
}

.productImage {
  width: 50px; 
  height: 50px; 
  margin-right: 12px; 
  object-fit: cover;
  border-radius: 4px; 
}

.noResults {
  padding: 16px;
  color: #888;
  text-align: center;
  font-style: italic;
}

