.card {
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1); 
  margin-top: 10px;
}

.tituloContacto{
  text-align: center; 
  color: #0B513B;
  font-size: clamp(1.5rem, 4vw, 2.5rem);
  margin: 0 0 0;
}

.colorTitulo {
  color: #0B513B;
  margin-bottom: 8px;
  text-align: center; 
}

.mapContainer {
  position: relative;
  height: auto; /* Ajusta según sea necesario */
}

.mapContainer .leafletContainer {
  height: 100%;
  width: 100%;
}

.whatsappLink {
  text-decoration: none; /* Quita el subrayado */
  color: inherit; /* Hereda el color del texto del elemento padre */
}

.whatsappLink:hover {
  color: #85CA83; /* Cambia el color al pasar el mouse, opcional */
}



