/* Estilos generales para la tabla */
.table-container {
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}




/* Estilo para la tabla */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 5px;
}


/* Encabezados de la tabla */
th {
    background-color: #f4f4f4;
    padding: 12px 12px 12px;
    text-align: left;
    border-bottom: 2px solid #ddd;
    font-size: 20px;
    color: #333;
    /* position: fixed; */
    position: -webkit-sticky; /* Para compatibilidad con Safari */
    position: sticky; /* Mantiene el encabezado en su posición cuando se desplaza */
    top: 0; /* Fija el encabezado en la parte superior */
    z-index: 1; /* Asegura que el encabezado esté sobre otras filas */
}
/* .tr{
    background-color: limegreen;
} */

/* Celdas de la tabla */
td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
    font-size: 19px;
    color: #666;
    
}

/* Fila alterna para mayor legibilidad */
tr:nth-child(even) {
    background-color: #f9f9f9;
}

/*
.table-container tr, td :hover  {
    background-color: #a4ff70ad; 
}
*/
/* Botones en la tabla */
button {
    font-size: 25px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #007bff;
    padding: 7px;
}

button:hover {
    color: #0056b3;
}

/* Mensaje de no resultados */
.sinResultados {
    text-align: center;
    padding: 20px;
}

.sinResultados img {
    max-width: 100px;
    margin-bottom: 10px;
}
.stock{
    text-align: center;
}

/* Estilos para el overlay y modal */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Estilos para el modal */
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 1.5rem;
    border-radius: 8px;
    width: 80%;
    max-width: 450px; /* Se ha reducido el ancho del modal */
    box-shadow: 0px 0.5rem 1rem rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.modal input, .modal textarea {
    width: 100%;
    margin-bottom: 1rem;
    padding: 0.5rem;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.modal button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 1rem;
    background-color: #4CAF50;
    color: #fff;
}

.modal button:hover {
    opacity: 0.8;
}

.modal img {
    width: 100%;
    height: auto;
    max-width: 120px; /* Se ha hecho la imagen más pequeña */
    max-height: 150px; /* Se ha hecho más alargada */
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}

/* Estilos para el botón de eliminar imagen */
.btnDelete {
    background-color: #f44336;
    color: #fff;
    font-size: 0.875rem;
}

.btnDelete:hover {
    background-color: #e53935;
}

/* Botones en el modal */
.btnSubmit, .btnClose {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btnSubmit {
    background-color: #28a745;
    color: white;
}

.btnSubmit:hover {
    background-color: #218838;
}

.btnClose {
    background-color: #dc3545;
    color: white;
}

.btnClose:hover {
    background-color: #c82333;
}

/* Media query para dispositivos más pequeños */
@media (max-width: 768px) {
    .tipsList {
        flex-direction: column;
        align-items: center;
    }

    .tipCard {
        max-width: 90%;
    }

    .modal {
        width: 90%;
        max-width: 350px; /* Ajuste de tamaño para pantallas pequeñas */
    }
}