.kitOfertas {
  background-color: #BFDEC4;
  width: 100%;
  height: auto;
  padding: 40px 20px;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.alingCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

@media (max-width: 768px) {
  .kitOfertas{
    width: 100%;
  }
}
