.recomendadosContainer {
  padding: 20px;
  position: relative;
  overflow: hidden;
  width: 100%;
}

.tituloRelacionado{
  display: flex;
  justify-content: center;
  text-align: center;
}

.carousel {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.carouselTrack {
  display: flex;
  transition: transform 0.5s ease-in-out;
  margin-left: 50px;
  margin-right: 50px;
}

.prevButton, .nextButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
}

.prevButton {
  left: 0;
}

.nextButton {
  right: 0;
}

/* Tarjeta del producto */
.cardProducto {
  min-width: 18rem;
  flex: 0 0 auto; /* No se debe estirar */
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease;
  background-color: #fff;
  margin-bottom: 1rem;
  padding: 10px;
  margin: 10px;
}

/* Efecto de escala en hover */
.cardProducto:hover {
  transform: scale(1.05);
}

/* Imagen del producto */
.cardImg {
  width: 100%;
  height: 150px;
  object-fit: contain;
}


.cardText{
  font-weight: bold;
  font-size: 20px;
}

.cardPrecio{
  font-size: 18px;
}
/* Cuerpo de la tarjeta */
.cardBody {
  padding: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
}

/* Contenedor de los botones */
.buttonContainer {
  display: flex;
  justify-content: center;
}

/* Estilo para los botones dentro de la tarjeta */
.cardBody, .botonRecomendaciones{
  margin: 5px;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer; 
  transition: background-color 0.3s ease;
  border-radius: 50px;
}

/* Botón para añadir al carrito */
.botonRecomendaciones:first-of-type {
  background-color: #28a745;
  color: #fff;
}

.botonRecomendaciones:first-of-type:hover {
  background-color: #218838;
}


@media (max-width: 1200px) {
  .cardProducto {
    min-width: 200px; /* Ajusta el tamaño según el diseño */
  }
}

@media (max-width: 992px) {
  .cardProducto {
    min-width: 150px; /* Ajusta el tamaño según el diseño */
  }
}

@media (max-width: 768px) {
  .cardProducto {
    min-width: 100%; /* Mostrar solo un producto a la vez en pantallas pequeñas */
  }

  .tituloRelacionado{
    font-size: 20px;
  }
}